JWT_SECRET=your_jwt_secret_here
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
MAILERSEND_API_KEY=mlsn.96e92a52a45afc93e8fa8d00a9ed1e096ab832966f6d3432429b0ab011e3bca1
MAILERSEND_FROM_EMAIL=noreply@test-ywj2lpndm7kg7oqz.mlsender.net
ADMIN_EMAIL=gauranshivarshney@gmail.com
